@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700%7cCantarell:400,400italic,700,700italic');

@import './_variables.scss';

@import '../../templates/bootstrap/fl-bootstrap.scss';
@import '../../templates/khaki/main';

@import '../../../node_modules/bootstrap/scss/mixins/hover';
@import '../../../node_modules/bootstrap/scss/mixins/text-emphasis';
@import "../../../node_modules/bootstrap/scss/mixins/background-variant";

/* fmp - fleamarket pattern */
@each $key, $color in $colorptrns {
  @include text-emphasis-variant('.text-fmp-#{$key}', $color);
  @include bg-variant('.bg-fmp-#{$key}', $color);
}

html {
  font-size: 15px;
}

body {
  font-family: Cantarell, sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Philosopher, sans-serif;
  font-weight: 700;
}
