// pallete from http://www.colourlovers.com/palette/4409436/222221
$colorptrns: (
  ptrn1: #EEDAD3,
  ptrn2: #6796AA,
  ptrn3: #9AC4D7,
  ptrn4: #CEB9B0,
  ptrn5: #FAF5F3
);

$bg-color: map-get($colorptrns, ptrn5);
$font-color: map-get($colorptrns, ptrn4);


